
.newone{
    height:100px;
    width:100px;
    background-color:red;
    animation-name:niranjan;
    animation-duration:10s;
    position:relative;
    animation-iteration-count:infinite;

}


@keyframes niranjan{
    from{background-color:red; top:300px}
    to{background-color:blue; top:40px}
     0%{left:0; top:0}
    25%{left:20; top:20}
    50%{top:40; left:40}
    75%{top:100; left:100}
    100%{top:0; left:0} 
} 